.content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.albums {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #282525;
  background-color: rgba(0,0,0,0.75);
}
.content-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #b3b0a661;
  margin-top: 3%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.album {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin: 0px 20px 0px 20px;
  border-bottom: 1px solid #b3b0a661;
}
.left {
  width: 20%;
  display: flex;
  margin: 30px;
  flex-direction: column;
}
.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 30px;
  color: white;
}
.cover img {
  width: 100%;
  border: 1px solid #5e5640;
}
.button {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #5e5640;
  color: #b3b0a6;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  cursor: pointer;
}
.chortochka {
  border-right: 1px solid #5e5640;
  margin-right: 5px;
  padding-right: 5px;
}
.album-title {
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.album-songs {
  font-size: 8px;
  padding-bottom: 20px
}
.song {
  display: flex;
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 11px;
  color: white;
  border-top: 1px solid #b3b0a661;
}
.song-title {
  flex-grow: 1;
}
.spotify .songs {
  display: none;
}
.spotify .right iframe {
  display: block;
  height: 500px;
}
.right iframe {
  display: none;
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.left .button a {
  color: #b3b0a6;
  text-decoration: none;
  cursor: pointer;
}
.left .button a:hover {
  color: #fbd699;
  text-decoration: none;
  cursor: pointer;
}
