.content {
  display: flex;
  flex-direction: column;
  border: 1px solid #fbd699;
}
.content-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #fff;
}
.album {
  display: flex;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: column;
}
.right {
  display: flex;
  flex-direction: column;
}
.cover {
  display: flex;
  border: 1px solid #fbd699;
}
.button {
  display: flex;
  border: 1px solid #fbd699;
}
.album-title {
  display: flex;
  border-bottom: 1px solid #fff;
}
.song {
  display: flex;
  border-bottom: 1px solid #fff;
}
