html {
  /* background: url(../images/background.jpg) no-repeat center center fixed; */
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
  /* IE */
  /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale'); */
   /* -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale')"; */
}
body {
  color: #fbd699;
  font-family: "Nexa Light",Arial,Helvetica,Sans-Serif;
  font-size: 1.35rem;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}
.header {
  display: flex;
}
.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: flex-end;
}
.title {
  font-size: 2.0rem;
}
.title > a {
  text-decoration: none;
  color: #fbd699;
}
.title > a:hover {
  color: #fff;
}
.icons {
  display: flex;
}
.icon {
  padding: 0px 4px;
}
.icon img {
  height: 30px;
  width: 30px;
}
.item > a {
  color: #fbd699;
  text-align: center;
  padding: 0px 8px;
  text-decoration: none;
}
.item > a:hover {
  color: #fff;
}
.content {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  z-index: -100;
}
.hidden {
  display: none;
}
video {
  width: 100wh;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-20%);
}
