.media-block > .tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
}
.media-block img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.media-block iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.media-block .title {
  display: flex;
  margin: 16px 0 16px 0;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.chortochka {
  border-right: 1px solid #5e5640;
  margin-right: 5px;
  padding-right: 7px;
}
